body {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0,0,0,0.8)), 
url("./src/akshayapatra-children-306607_1920.jpg");
  background-size: cover; /*makes image cover full screen */
  background-position: center;  /* centers image */
  background-repeat: no-repeat;  /* no repeating */
  height: 100vh;
   
}

.btn {
  color: rgb(31, 95, 198);
  font-family: sans-serif;
  font-weight: bold;
  padding: 8px 15px 8px 15px;
  font-size: 15px;
  border-style: solid;
  border-color: rgb(31, 95, 198);
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px 5px;
  transition:
    background-color 0.15s,
    color 0.15s,
    opacity 0.15s;
}
.btn:hover {
  background-color: rgb(31, 95, 198);
  color: white;
}
.btn:active {
  opacity: 0.6;
}

.box {
  border: 2px solid;
  padding: 10px 40px 40px 40px;
  border-radius: 3px;
  width: fit-content;
  border-color: rgb(31, 95, 198);
  font-family: sans-serif;
  color: rgb(15, 70, 159);
  font-weight: bold;
  transition:
    background-color 0.15s,
    color 0.15s;
  cursor: pointer;
  text-align: center;
}
.label {
  color: rgb(15, 70, 159);
  font-weight: bold;
}
.box:hover {
  background-color: rgba(31, 95, 198, 0.085);
}

.heading {
  text-align: center;
}
.field {
  padding: 5px 10px 5px 10px;
  margin: 5px 0px 5px 0px;
  border-radius: 3px;
  border: 1px solid;
  border-color: rgb(31, 95, 198);
  font-family: sans-serif;
  color: rgb(31, 95, 198);
  font-weight: bold;
  transition:
    background-color 0.15s,
    border 0.15s;
}
.field:hover {
  background-color: rgba(31, 95, 198, 0.085);
  border: rgb(31, 95, 198) solid 2px;
}
.field::selection {
  background-color: rgba(31, 95, 198, 0.085);
  border: rgb(31, 95, 198) solid 2px;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrapper {
  position: relative;
  height: 50px; /* gives space for absolute elements */
  margin-bottom: 15px;
  padding-top: 10px;
}

.title {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  font-family: sans-serif;
  color: #1f5fc6;
  margin: 0;
}
.reg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}




